<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="ajaxStuff.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>HI WELCOME TO THE APP</h1>
    <form action="/location_search" method="post" id="locationForm">
    <label for="query">Search for:</label>
    <input type="text" name="query">
    <label for="city">City:</label>
    <input type="text" name="city">
    <input type="submit" value="GIMME STUFF TO DO">
</form>
<div class="results">

</div>
</body>
</html>
